.body {
    font-family: 'Raleway';
}

.container {
float: none;
display: flex;
justify-content: center;
}

#visit-site {
    font-size: 15px;
    float: left;
    letter-spacing: .6.5rem; 
}

#email:hover {
    cursor: pointer; 
    color: rgb(30, 109, 255);
}

.pickle-header{
    margin-top: 128px; 
    margin-bottom: 5px;
  }

#pickle-logo {
    margin: 0 auto; 
    width: 100%; 
}

#coming-soon {
    font-size: 31px;
    color: rgb(0, 0, 0);
    font-weight: 350; 
    letter-spacing: 1px; 
    font-family: 'Raleway';
    text-align: center;
    margin-bottom: 10px;
}

#contact-info {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 350; 
    letter-spacing: 1px; 
    font-family: 'Raleway';
    text-align: center;
    margin-bottom: 10px;
}

#email {
    color:rgb(30, 109, 255);
}

#allrights {
    text-align: center; 
    font-family: 'Raleway';
    letter-spacing: 1px; 
    font-size: 11.2px; 
    bottom: 0; 
    position: absolute; 
    padding-bottom: 15px; 
}

/* // MEDIA QUERIES  */
@media (max-width: 430px) {
    #coming-soon {
        font-size: 17px; 
        margin-top: -8px;
    }

    #contact-info {
        font-size: 14px;
        margin-top: -5px;
    }

    .pickle-header{
        margin-top: 5px;
      }
}
  
/* @media (max-width: 730px) {
#coming-soon {
    font-size: 28px; 
}

#contact-info {
    font-size: 19px;
}
} */