.body {
    font-family: 'Raleway';
}

.container {
float: none;
display: flex;
justify-content: center;
}

#visit-site {
    font-size: 15px;
    float: left;
    letter-spacing: .6.5rem; 
}

#email:hover {
    cursor: pointer; 
    color: rgb(30, 109, 255);
}


.pickle-header{
    margin-top: 90px; 
    margin-bottom: 5px;
  }

#pickle-logo {
    margin: 0 auto; 
    width: 100%; 
}

#pickle-logo-mobile {
    margin: 0 auto; 
    display: none; 
    text-align: center; 
    width: 100%; 
}

button {
    cursor: pointer; 
    color: white;
    padding: 15px; 
    background-color: rgb(30, 109, 255);
    border: none; 
}

button:hover {
    background-color: rgb(11, 82, 214);
}

.vertical-center {
    border-radius: 10px; 
    font-family: 'Raleway';
}

#coming-soon {
    font-size: 31px;
    color: rgb(0, 0, 0);
    font-weight: 400; 
    letter-spacing: 1px; 
    font-family: 'Raleway';
    text-align: center;
    margin-bottom: 10px;
}

#contact-info {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 400; 
    letter-spacing: 1px; 
    font-family: 'Raleway';
    text-align: center;
    margin-bottom: 10px;
}

#email {
    color:rgb(30, 109, 255);
}

#social-media {
    text-align: center; 
    font-family: 'Raleway';
    font-size: 14px; 
    font-weight: 400; 
    letter-spacing: 1px; 
}

.fa-facebook, .fa-instagram, .fa-linkedin {
    color: rgb(30, 109, 255); 
    padding: 8px; 
    font-size: 22px; 
}

.fa-facebook, .fa-instagram, .fa-linkedin:hover {
    cursor: pointer; 
}

#allrights {
    text-align: center; 
    font-family: 'Raleway';
    letter-spacing: 1px; 
    font-size: 11.2px; 
    bottom: 0; 
    position: fixed; 
    padding-bottom: 15px; 
}

/* // MEDIA QUERIES  */
@media (max-width: 480px) {
    #coming-soon {
        font-size: 23px; 
        margin-top: -8px;
    }

    #contact-info {
        font-size: 14px;
        margin-top: -5px;
    }

    .pickle-header{
        margin-top: 30px;
      }

    #pickle-logo {
        display: none; 
    }

    #pickle-logo-mobile { 
        display: block;
    }

    #social-media {
        font-size: 11px; 
    }
}

@media (max-width: 1200px) {
    #coming-soon {
        font-size: 24px; 
    }
    
    #contact-info {
        font-size: 20px;
    }
    }

@media (max-width: 900px) {
#coming-soon {
    font-size: 23px; 
}

#contact-info {
    font-size: 16px;
}

#pickle-logo {
    display: none; 
}

#pickle-logo-mobile { 
    display: block;
}

#social-media {
    font-size: 13px; 
}

.fa-facebook, .fa-instagram, .fa-linkedin {
    font-size: 18px; 
}

}