.body {
    font-family: 'Raleway';
}

.container {
float: none;
display: flex;
justify-content: center;
}

#visit-site {
    font-size: 15px;
    float: left;
    letter-spacing: .6.5rem; 
}

#email:hover {
    cursor: pointer; 
    color: rgb(255, 60, 0);
}

.pickle-header{
    margin-top: 100px; 
    margin-bottom: 10px;
  }

#pickle-logo {
    text-align: center; 
    margin: 0 auto; 
}

#coming-soon {
    font-size: 33px;
    color: rgb(0, 0, 0);
    font-weight: 350; 
    letter-spacing: 1px; 
    font-family: 'Raleway';
    text-align: center;
    margin-bottom: 10px;
}

#contact-info {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 350; 
    letter-spacing: 1px; 
    font-family: 'Raleway';
    text-align: center;
    margin-bottom: 10px;
}

#email {
    color:rgb(30, 109, 255)
}


/* // MEDIA QUERIES  */
@media only screen and (max-width: 430px) {
    #coming-soon {
        font-size: 19px; 
    }

    #contact-info {
        font-size: 13px;
    }
}
  
@media only screen and (max-width: 730px) {
#coming-soon {
    font-size: 28px; 
}

#contact-info {
    font-size: 19px;
}
}